@charset "utf-8";
.main {
	padding:0;
	margin:0;
    /*background-image: url("backgroundimage/cc1.jpg");*/
    /*height: 100%;
    width:100%;*/
   background-color: yellow;
   /*text-align:center;*/
   /*height: 2000;*/
}
.heading
{
	background-color: red;
	width: 100%;
}
/*.slider
{
	background-color: black;
	width: 100%;
	color: white;
}*/







/*
.leg
{
	border-bottom: 1px solid red;
	font-size: 25px;
	padding: 20px;
}
.logo {
	padding:0px;
	width:70%;
	text-align: left;
}
.menu{

	background-color: black;
color: white;
width: 70%;
padding-left: 15px;
text-align: left;
padding-right: 15px;
border-radius: 10px;
}
.menuitem{
	color: red;
padding-right: 20px;
border-right: 1px solid grey;
text-decoration: none;
padding-left: 12px;
padding: 10px;
}
.menuitem:hover
{
	background: black;
	color: #fff;
}
.imag{
border-radius: 10px;
width: 70%;
/* width: 66%; */
/* padding: 30px; */
/*padding-left: 15px;
padding-right: 15px;
background-color: white;
margin-top: 7px;
}
.content1{
border-radius: 10px;
background-color: white;
/* width: 66%; */
/*padding-left: 15px;
padding-right: 15px;
width: 70%;
/*text-align: left;*/
/*background-color: wheat;
/* padding: 30px; */
/*}
.content2{
border-radius: 10px;
background-color: white;
width: 70%;
text-align: left;
padding-left: 15px;
padding-right: 15px;
height: 300;
background-color: wheat;
}
.imagegallery{
	background-color: wheat;
	width: 30%;
	margin-top: 0px;
}
.history{
	background-color: wheat;
	width: 33%;
	margin-left: 345px;
	margin-top: -228px;
}
.contact{
background-color: wheat;
color: black;
/*margin-left: 297;*/
/*width: 29%;
margin-left: 661;
margin-top: -240px;
/*margin-top: -220;*/
/*}
h1 {
	
	color:#40b5ff;
	font:normal 27px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
	text-align: left;
}
body {
	margin:0;
	padding:0;
	width:100%;
	color:#9a9a9a;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background-color: white;
}
body p {
    color: black;
    text-align:left;
}


*/